body { background-color: #fff; color: #333; }

body, p, ol, ul, td, th {
	font-family: verdana, arial, helvetica, sans-serif;
/*	font-size:	 13px;
	line-height: 18px;
*/	vertical-align: top;
}

pre {
	background-color: #eee;
	padding: 10px;
	font-size: 11px;
}

a { color: black; }
a:visited { color: grey; }
a:hover { color: white; background-color: black; }

.fieldWithErrors {
	padding: 2px;
	background-color: red;
	display: table;
}

#errorExplanation {
	width: 400px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#errorExplanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}

#errorExplanation p {
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}

#errorExplanation ul li {
	font-size: 12px;
	list-style: square;
}

.errorMessage {
  color: red;
  font-size: 12px;
}

div.uploadStatus {
	margin: 5px;
}

div.progressBar {
	margin: 5px;
}

div.progressBar div.border {
	background-color: #fff;
	border: 1px solid gray;
	width: 100%;
}

div.progressBar div.background {
	background-color: #333;
	height: 18px;
	width: 0%;
}

th {
	white-space: nowrap;
}

label {
	font-weight: bold;
	white-space: nowrap;
}

i.input {
	display: inline;
	font-style: normal;
	margin: 0px; padding: 3px 2px;
}

i.checkbox {
	display: inline;
	font-style: normal;
	margin: 0px; padding: 3px 4px;
}

b.textarea {
	display: block;
	font-weight: normal;
	margin: 0px; padding: 3px 2px;
}

